* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

.container {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    text-align: center;
    margin-bottom: 50px;
    margin-top: 50px;
    font-size: 1.75em;
}

h2 {
    font-size: 1.25em;
    border: 1px solid black;
    margin-top: 0;
    margin-right: 0;
    margin-left: auto;
    position: relative;
    width: fit-content;
    padding: 5px 30px 5px 30px;
}

#chicken-h2 {
    background: darksalmon;
}

#beef-h2 {
    background: indianred;
    color: white;
}

#sushi-h2 {
    background: moccasin;
}

p {
    padding: 0px 15px 15px 15px;
}

.col-lg-4, .col-md-6, .col-md-12, .col-sm-12 {    
    width: 33.33%;
    padding: 15px;
}

section {
    background-color: silver;
    border: 1px solid black;
}


@media (min-width: 992px) {
    .col-lg-4 {
        width: 33.33%;
        float: left;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .col-md-6 {
        width: 50%;
        float: left;
    }

    .col-md-12 {
        width: 100%;
        float: left;
    }
}

@media (max-width: 767px) {
    .col-sm-12 {
        width: 100%;
        float: left;
    }
}